.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    vertical-align: middle;
    font-family: 'Source Code Pro', monospace;
  }
  
  .NavBar-link {
    margin: 0 px;
    font-family: 'Source Code Pro', monospace;
  }
  
  .NavBar-welcome {
    color: black;
    font-family: 'Source Code Pro', monospace;
  }