.HomePage-link-margin {
margin-bottom: 10px;
}

.HomePage {
display: flex;
flex-direction: column;
font-family: 'Source Code Pro', monospace;
}

.HomePage-controls {
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
margin-left: 20px;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
