.form {
    display: flex;
    width: 60%;
    justify-content: center;
    width: 100vw;
}

form {
    display: inline-block;
    width: 33%;
}

.input-field {
    color: black;
    font-weight: 900;
}

.datepicker-date-display {
    background-color: red;
    color: black;
}

.datepicker-cancel, .datepicker-done {
    color: red;
}


